{% extends 'base.html' %}

{% block styles %}
    <style>
        .button-header {
            float: right;
        }
        .header-title {
            width: 50%;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="page-header">
        <div class="tools">
            <a href="{% url "template_create_view" %}" class="btn btn-success button-header">
                <i class="icon-plus icon-white"></i>Nueva plantilla</a>
        </div>
        <h1 class="header-title">Plantillas</h1>
    </div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Opciones</th>
        </tr>
        </thead>
        <tbody>
        {% for template in object_list %}
            <tr>
                <td>{{ template.name }}</td>
                <td>{{ template.get_type_display }}</td>
                <td>
                    <a class="btn btn-primary" href="{% url "template_update_view" template.pk %}">Editar</a> |
                    <a class="btn btn-danger deletePermission" data-toggle="modal" data-target="#modalDelete" data-id="{{ template.id }}">Eliminar</a> |
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>



    <!-- Modal -->
    <div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Eliminar Plantilla</h4>
                </div>
                <div class="modal-body">
                    Estas seguro de eliminar esta plantilla ?
                </div>
                <div class="modal-footer">
                    <form method="post" action="{% url "template_delete_view" %}">
                        <input type="hidden" id="deleteGroup" name="deleteGroup"/>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-danger">Eliminar</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block script_bottom %}
    <script>
        $(document).on('ready', function(){
            $('.deletePermission').on('click', function(){
                var groupId = $(this).data('id');
                $('#deleteGroup').val(groupId);
            })
        });

    </script>
{% endblock %}
